<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postman</title>
</head>
<body>
    <h2 style="padding-left: 400px;color: #8ad9d5">欢迎使用 接口测试平台</h2>
    <!--&#12288空白汉字-->
    <h3> &#12288;您的请求记录:</h3>
    <!--overflow-y: scroll设置滚动条，y轴-->
    <div id="home_log_plan" style="padding-left: 20px;overflow-y: scroll;width: 320px">
        {% for i in home_log %}
            <a href="/home_log/{{ i.id }}/" style="text-decoration: none">
                <span style="font-size: large;color: black">{{ i.api_method }}</span> -
                {{ i.api_host }}{{ i.api_url }}<br>
            </a>
        {% endfor %}
    </div>
    <!--竖线-->
    <div id="shu" style="width: 2px;background-color: #64d92c;position: absolute;top: 70px;left: 340px"> &nbsp; </div>
    <div style="position: absolute;top: 100px;left: 380px;width: -webkit-calc(100% - 390px);">
    {# 调试弹层及函数 #}
        <ul class="nav navbar-nav" style="width: 98%">
            <li>
                <select id="ts_method" style="height: 40px;" class="form-control">
                    <option value="none"> 请求方式</option>
                    <option value="post" > POST</option>
                    <option value="get" > GET</option>
                    <option value="put" > PUT</option>
                    <option value="delete"> DELETE</option>
                </select>
            </li>

            <li style="width: -webkit-calc(100% - 225px)">
                <input id="ts_url" style="color: black;padding-left: 10px;width: 100%;height: 40px;" type="text" placeholder='url: 如 /abcd/efgh/' value="{{ log.api_url }}">
            </li>

            <li >
                <button id="ts_send" type="button"
                        style="height: 40px;width: 120px;"
                        class="btn btn-default"><span style="font-size: large">Send</span></button>
            </li>
        </ul>
        <br><br><br>
        <ul class="nav navbar-nav" style="width: 98%">
            <li style=" width: -webkit-calc(100% - 63px)">
                 <input id="ts_host"  style="color: black;padding-left: 10px;width: 100%;height: 40px;" type="text" placeholder='host: 如http(s)://xxxx.ccc.com' value="{{ log.api_host }}">
            </li>
             <li >
                <button type="button"
                        style="height: 40px;width: 60px;"
                        class="btn btn-default"><span>Clear</span></button>
            </li>
        </ul>
        <br><br><br>
        <ul class="nav navbar-nav" style="width: 98%">
            <li style="width:  -webkit-calc(100% - 63px)">
                 <input id="ts_header"  style="color: black;padding-left: 10px;width: 100%;height: 40px;" type="text"
                       placeholder='header请求头：如{"Content":"application/json"}' value="{{ log.api_header }}">
            </li>
             <li >
                <button type="button"
                        style="height: 40px;width: 60px;"
                        class="btn btn-default"><span>Clear</span></button>
            </li>
        </ul>
        <br><br><br>
        <ul id="myTab" class="nav nav-tabs" >
            <li class="active"><a id="click_none" href="#none" data-toggle="tab" >none</a></li>
            <li ><a href="#form-data" data-toggle="tab" >form-data</a></li>
            <li ><a href="#x-www-form-urlencoded" data-toggle="tab" >x-www-form-urlencoded</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">raw <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                    <li><a href="#Text" tabindex="-1" data-toggle="tab">Text</a></li>
                    <li><a href="#JavaScript" tabindex="-1" data-toggle="tab">JavaScript</a></li>
                    <li><a href="#Json" tabindex="-1" data-toggle="tab">Json</a></li>
                    <li><a href="#Html" tabindex="-1" data-toggle="tab">Html</a></li>
                    <li><a href="#Xml" tabindex="-1" data-toggle="tab">Xml</a></li>
                </ul>
            </li>
            <li ><a href="#response" data-toggle="tab" >返回体</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="none" style="text-align: center;color: grey">
                <h3>这个请求将不会携带任何请求体</h3>
                <h5>This request will not carry any request-body</h5>
            </div>
            <div class="tab-pane fade" id="form-data">
                <div class="table-responsive" style="width: 98%;color: black">
                    <table class="table table-bordered table-striped" id="mytable" style="background-color:white">
                        <thead style="color: #337ab7;font-size: x-small">
                          <tr>
                            <td style="width: 30%">Key</td>
                            <td style="width: 50%">Value</td>
                          </tr>
                        </thead>
                        <tbody id="mytbody">
                          <tr>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-default" id="add"><i class="fa fa-plus"></i> 添加新参数</button>
                <script>window.jQuery || document.write('<script src="/static/201801271505/js/jquery-1.11.0.min.js"><\/script>')</script>
                <script type="text/javascript" src="/static/201801271505/js/bootstable.js"></script>
                <script type="text/javascript">
                    $('#mytable').SetEditable({
                        $addButton: $('#add'),
                    });
                </script>
            </div>
            <div class="tab-pane fade" id="x-www-form-urlencoded">
                <div class="table-responsive" style="width: 98%;color: black">
                    <table class="table table-bordered table-striped" id="mytable2" style="background-color:white">
                        <thead style="color: #337ab7;font-size: x-small">
                          <tr>
                            <td style="width: 30%">Key</td>
                            <td style="width: 50%">Value</td>
                          </tr>
                        </thead>
                        <tbody id="mytbody2">
                          <tr>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-default" id="add2"><i class="fa fa-plus"></i> 添加新参数</button>
                <script>window.jQuery || document.write('<script src="/static/201801271505/js/jquery-1.11.0.min.js"><\/script>')</script>
                <script type="text/javascript" src="/static/201801271505/js/bootstable.js"></script>
                <script type="text/javascript">
                    $('#mytable2').SetEditable({
                        $addButton: $('#add2'),
                    });
                </script>
            </div>
            <div class="tab-pane fade" id="Text">
                <textarea name="" id="raw_Text" style="color: black;width: 98%;height: 300px"></textarea>
            </div>
            <div class="tab-pane fade" id="JavaScript">
                <textarea name="" id="raw_JavaScript" style="color: black;width: 98%;height: 300px"></textarea>
            </div>
            <div class="tab-pane fade" id="Json">
                <textarea name="" id="raw_Json" style="color: black;width: 98%;height: 300px"></textarea>
            </div>
            <div class="tab-pane fade" id="Html">
                <textarea name="" id="raw_Html" style="color: black;width: 98%;height: 300px"></textarea>
            </div>
            <div class="tab-pane fade" id="Xml">
                <textarea name="" id="raw_Xml" style="color: black;width: 98%;height: 300px"></textarea>
            </div>
            <div class="tab-pane fade" id="response">
                <textarea name="" id="ts_response_body" disabled="disabled" style="background-color: #e4f3f5;color: black;width: 98%;height: 300px"></textarea>
            </div>
        </div>
        <br>
    </div>
    <script>
        if ("{{ log.api_method }}" !== "") {
            $("#ts_method").val("{{ log.api_method }}")
        }
        if ("{{ log.body_method }}" !== "") {
            // body类型
            $("#myTab li a[href='" + "#" + "{{ log.body_method }}" + "']").click();
            // body
            if ("{{ log.body_method }}"=== "form-data") {
                // js替换的两种写法
                // .replace(/&quot;/g,'"')
                var body_str = "{{ log.api_body }}".replace(new RegExp("&quot;", "g"),'"')
                console.log(body_str)
                var body_object = JSON.parse(body_str)
                var list = []
                // 由于object类型的列表无法按照下标遍历，所以把数据插进object的列表（数组）
                for (var i in body_object) {
                    list.push([i, body_object[i]])
                }
                // 默认是有一个键值对，所以根据数据的长度，确定还需要加几个键值对
                for (var c = 0; c < list.length - 1; c++) {
                    $("#add").click()
                }
                for (var j = 0; j < list.length; j++) {
                    $("#mytable tbody")[0].children[j].children[0].innerText = list[j][0];
                    $("#mytable tbody")[0].children[j].children[1].innerText = list[j][1];
                }
            }
            if ("{{ log.body_method }}" === "x-www-form-urlencoded") {
                var body_str2 = "{{ log.api_body }}".replace(/&quot;/g, '"')
                var body_object2 = JSON.parse(body_str2)
                var list2 = []
                // 由于object类型的列表无法按照下标遍历，所以把数据插进object的列表（数组）
                for (var i2 in body_object2) {
                    list2.push([i2, body_object2[i2]])
                }
                // 默认是有一个键值对，所以根据数据的长度，确定还需要加几个键值对
                for (var c2 = 0; c2 < list2.length - 1; c2++) {
                    $("#add2").click()
                }
                for (var j2 = 0; j2 < list2.length; j2++) {
                    $("#mytable2 tbody")[0].children[j2].children[0].innerText = list2[j2][0];
                    $("#mytable2 tbody")[0].children[j2].children[1].innerText = list2[j2][1];
                }
            }
            if ("{{ log.body_method }}" === "Text") {
                $("#raw_Text").val("{{ log.api_body }}")
            }
            if ("{{ log.body_method }}" === "JavaScript") {
                $("#raw_JavaScript").val("{{ log.api_body }}")
            }
            if ("{{ log.body_method }}" === "Html") {
                $("#raw_Html").val("{{ log.api_body }}")
            }
            if ("{{ log.body_method }}" === "Json") {
                $("#raw_Json").val("{{ log.api_body }}")
            }
            if ("{{ log.body_method }}" === "Xml") {
                $("#raw_Xml").val("{{ log.api_body }}")
            }
        }
    </script>
    <script>
        // 获得浏览器高度
        var height = document.documentElement.clientHeight;
        document.getElementById("shu").style.height =(height - 85).toString()+ "px"
        document.getElementById("home_log_plan").style.height =(height - 85).toString()+ "px"
    </script>
    <script>
        // 点击send
        $("#ts_send").click(
            function () {
                console.log("okokoko")
                var body_type = $("ul#myTab li[class='active']")[0].innerText
                if (body_type === "none") {
                    var body_data = ""
                }
                if (body_type === "form-data") {
                    var dic = {};
                    for (var i = 0;i < $("#mytable tbody")[0].children.length;i++) {
                        dic[$('#mytable tbody')[0].children[i].children[0].innerText] = $("#mytable tbody")[0].children[i].children[1].innerText;
                    }
                    var body_data = JSON.stringify(dic)
                }
                if (body_type === "x-www-form-urlencoded") {
                    var dic = {};
                    for (var i = 0;i < $("#mytable2 tbody")[0].children.length;i++) {
                        dic[$("#mytable2 tbody")[0].children[i].children[0].innerText] = $("#mytable2 tbody")[0].children[i].children[1].innerText;
                    }
                    var body_data = JSON.stringify(dic)
                }
                if (body_type === "Text") {
                    var body_data = document.getElementById("raw_Text").value;
                }
                if (body_type === "JavaScript") {
                    var body_data = document.getElementById("raw_JavaScript").value;
                }
                if (body_type === "Html") {
                    var body_data = document.getElementById("raw_Html").value;
                }
                if (body_type === "Json") {
                    var body_data = document.getElementById("raw_Json").value;
                }
                if (body_type === "Xml") {
                    var body_data = document.getElementById("raw_Xml").value;
                }
                // 判断顶部的数据是否填充完
                if($("#ts_method").val() === 'none'){alert('请选择请求方式！');return}
                if($("#ts_url").val() === ''){alert('请输入url！');return}
                if($("#ts_host").val() === ''){alert('请输入host！');return}
                // 判断关键数据是否符合规则
                if ($("#ts_host").val().slice(0,8) !== "https://" && $("#ts_host").val().slice(0,7) !== "http://") {
                    alert('hosts必须以"https:/"/或者"http://"作为开头');return
                }
                var header_api = $("#ts_header").val();
                if(header_api !== ''){
                  try {
                      JSON.parse(header_api)
                  }catch (e) {
                      alert('header请求头不符合json规范！');
                      return
                  }
                  // header为空的时候发送请求会500
                } else {
                    header_api = '{}'
                }
                $.post("/api_send_home/",
                    {
                        "ts_method": $("#ts_method").val(),
                        "ts_url": $("#ts_url").val(),
                        "ts_host": $("#ts_host").val(),
                        "ts_header": header_api,
                        "ts_body_type": body_type,
                        "ts_body": body_data
                    },
                    function (data, status) {
                        $("a[href='#response']").click();  // 点击返回体按钮
                        $("#ts_response_body").val(data);  // 把接口执行后的结果返回到返回体多行文本框
                        log_refresh()
                    }
                )
            }
        )
        // 左侧记录刷新
        // 要求点击send一次，左侧自动更新记录，但是保留右侧信息
        function log_refresh() {
            //清空
            div = document.getElementById('home_log_plan');
            div.innerHTML = '';
            // 生成新的
            $.post('/get_home_log/',
                {},
                function (data, status) { //data 应该就是我们获取到的记录列表数组 的字符串形式
                    // 这里写生成展示的代码
                    console.log(data);  // []形式
                    console.log(typeof(data)) // obj类型
                    for(var i=0; i<data.length;i++){
                        var a =document.createElement('a') ;//创建a标签
                        a.href="/home_log/" + String(data[i]["id"]) + "/" ; // 点击函数
                        a.style="text-decoration: none" ;
                        a.class = 'log';
                        var s = document.createElement('span'); //声明显示请求体类型的span
                        s.style = "font-size: large;color: black";
                        s.innerText = data[i]["api_method"]+' - '; //设定这个method;
                        var s2 = document.createElement('span'); // 声明存放host+url的span
                        s2.innerText = data[i]["api_host"]+data[i]["api_url"];
                        a.appendChild(s);
                        a.appendChild(s2);
                        div.appendChild(a);
                        div.appendChild(document.createElement('br'));
                    }
            });
        }
        // 点击左侧记录后右侧展示信息
        function home_log_show(id) {
            $.post("/get_api_log_home/",
                {
                    "log_id": id
                },
                function (data, status) {
                    console.log(data)
                    var ts_host = $("#ts_host").val(data.api_host);
                    var ts_url = $("#ts_url").val(data.api_url);
                    $("#ts_header").val(data.api_header);
                    var ts_method = $("#ts_method").val(data.api_method);
                    // body类型
                    $("#myTab li a[href=" + "#" + data.body_method + "]").click()
                    // body
                    if (data.body_method === "form-data") {
                        var body_str = data.api_body
                        var body_object = JSON.parse(body_str)
                        var list = []
                        // 由于object类型的列表无法按照下标遍历，所以把数据插进object的列表（数组）
                        for (var i in body_object) {
                            list.push([i, body_object[i]])
                        }
                        // 默认是有一个键值对，所以根据数据的长度，确定还需要加几个键值对
                        for (var c = 0; c < list.length - 1; c++) {
                            $("#add").click()
                        }
                        for (var j = 0; j < list.length; j++) {
                            $("#mytable tbody")[0].children[j].children[0].innerText = list[j][0];
                            $("#mytable tbody")[0].children[j].children[1].innerText = list[j][1];
                        }
                    }
                    if (data.body_method === "x-www-form-urlencoded") {
                        var body_str2 = data.api_body
                        var body_object2 = JSON.parse(body_str2)
                        var list2 = []
                        // 由于object类型的列表无法按照下标遍历，所以把数据插进object的列表（数组）
                        for (var i2 in body_object2) {
                            list2.push([i2, body_object2[i2]])
                        }
                        // 默认是有一个键值对，所以根据数据的长度，确定还需要加几个键值对
                        for (var c2 = 0; c2 < list2.length - 1; c2++) {
                            $("#add2").click()
                        }
                        for (var j2 = 0; j2 < list2.length; j2++) {
                            $("#mytable2 tbody")[0].children[j2].children[0].innerText = list2[j2][0];
                            $("#mytable2 tbody")[0].children[j2].children[1].innerText = list2[j2][1];
                        }
                    }
                    if (data.body_method === "Text") {
                        $("#raw_Text").val(data.api_body)
                    }
                    if (data.body_method === "JavaScript") {
                        $("#raw_JavaScript").val(data.api_body)
                    }
                    if (data.body_method === "Html") {
                        $("#raw_Html").val(data.api_body)
                    }
                    if (data.body_method === "Json") {
                        $("#raw_Json").val(data.api_body)
                    }
                    if (data.body_method === "Xml") {
                        $("#raw_Xml").val(data.api_body)
                    }
                })
        }
    </script>
</body>
</html>